@page "/Estudiante/Create"
@inject EstudiantesService estudiantesService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Registro de Estudiantes</PageTitle>

<EditForm Model="estudiante" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">
            @* Cabecera del Formulario *@
            <div class="card-header text-center">
                <h5 class="card-title">Crear Estudiante</h5>
            </div>

            <div class="card-body">
                @* EstudianteId *@
                <div class="mb-3">
                    <label class="form-label"><strong>EstudianteId</strong></label>
                    <InputNumber class="form-control" @bind-Value="estudiante.EstudianteId" readonly />
                </div>

                @* Nombres *@
                <div class="mb-3">
                    <label class="form-label"><strong>Nombres</strong></label>
                    <InputText class="form-control" @bind-Value="estudiante.Nombres" />
                    <ValidationMessage For="@(() => estudiante.Nombres)" />
                </div>

                @* Email *@
                <div class="mb-3">
                    <label class="form-label"><strong>Email</strong></label>
                    <InputText class="form-control" @bind-Value="estudiante.Email" />
                    <ValidationMessage For="@(() => estudiante.Email)" />
                </div>
            </div>

            @* Footer con Botones *@
            <div class="card-footer text-center mt-2">
                <a href="/Estudiante/Index" class="btn btn-secondary">
                    <span class="bi bi-arrow-left"></span> Volver
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-floppy"></i> Guardar
                </button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int EstudianteId { get; set; }

    public Estudiantes estudiante { get; set; } = new Estudiantes();
    public string Mensaje { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        // Si estamos en modo edición (ID > 0), buscamos al estudiante
        if (EstudianteId > 0)
        {
            var encontrado = await estudiantesService.Buscar(EstudianteId);
            if (encontrado != null)
                estudiante = encontrado;
        }
    }

    public void Nuevo()
    {
        estudiante = new Estudiantes();
        Mensaje = string.Empty;
    }

    public async Task Guardar()
    {
        // Ejecuto el método Guardar de nuestro service
        var creado = await estudiantesService.Guardar(this.estudiante);

        if (creado)
        {
            // Si se guardó con éxito, volvemos al listado principal
            navigationManager.NavigateTo("/Estudiante/Index");
        }
        else
        {
            // Mensaje de error si algo falla
            Mensaje = "No se pudo guardar correctamente";
        }
    }

    public async Task Eliminar()
    {
        var eliminado = await estudiantesService.Eliminar(estudiante.EstudianteId);
        if (eliminado)
        {
            navigationManager.NavigateTo("/Estudiante/Index");
        }
    }
}